.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Make the container fill the full height of the screen */
  width: 100%; /* Full width */
  margin: 0;
  background-color: #f9f9f9; /*Optional: Add a background color for contrast */
  padding: 20px;
}

.app-title {
  text-align: center;
  margin-bottom: 20px; /* Add spacing between the title and the game board */
  color: #333; /* Title color */
}
