html,
body,
#root {
  height: 100%; /* Ensure the body fills the viewport height */
  width: 100%;
  min-height: 300px; /* Set a minimum height for the page */
  margin: 0;
  overflow-y: auto; /* Enable vertical scrolling for small screens */
}

*,
*::before,
*::after {
  box-sizing: border-box; /* Apply border-box universally */
}